/*フォント素材*/
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#main-title-screen,
#use-screen {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/title.jpg);
  background-size: cover;
}

#level-selection-screen,
#description-screen,
#tips-screen,
#Credit {
  font-family: Arial, sans-serif;
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/title.jpg);
  background-size: cover;
}

/*以下タイトル画面*/
#main-title-screen h1 {
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke: 2px #454545;
  text-shadow: 3px 3px #81bedb;
  margin-bottom: 0;
}

#main-title-screen h2 {
  font-size: 70px;
  color: transparent;
  -webkit-text-stroke: 2px #454545;
  text-shadow: 3px 3px #81bedb;
  margin-top: 0;
}

#start-text {
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 10px #4d9bc1, -2px 2px 10px #4d9bc1,
    2px -2px 10px #4d9bc1, -2px -2px 10px #4d9bc1;
  animation: blink 1.5s infinite;
}

#clear2title,
#timeout-to-title {
  text-align: center;
  position: absolute;
  left: 450px;
  bottom: 15px;
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 10px #4d9bc1, -2px 2px 10px #4d9bc1,
    2px -2px 10px #4d9bc1, -2px -2px 10px #4d9bc1;
  animation: blink 1.5s infinite;
}

.credits {
  font-size: 30px;
  color: #238be6;
  background: #f9f9f9e1;
  margin-bottom: 0;
  padding: 0.5em 2em 0.5em 2em;
}

/*以下レベル選択画面*/
#level-selection-screen h1 {
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 2px #454545;
  text-shadow: 3px 3px #81bedb;
  margin-bottom: 0;
}

#level-selection-screen h2 {
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke: 2px #454545;
  text-shadow: 3px 3px #81bedb;
  margin-top: 0;
}
#level-selection {
  margin-top: 20px;
}

.level-button {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  font-size: 30px;
  cursor: pointer;
  background-color: #3d9ecb;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.level-button:hover {
  background-color: blue;
}

.Description {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  font-size: 30px;
  cursor: pointer;
  background-color: #ebbd67;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.Description:hover {
  background-color: orange;
}
.levelToCredit,
.creditToTitle {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  font-size: 30px;
  cursor: pointer;
  background-color: #67ebad;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.levelToCredit:hover,
.creditToTitle:hover {
  background-color: rgb(21, 255, 0);
}

/*以下説明・TIPS・操作説明画面*/

#description-screen h1,
#tips-screen h1,
#use-screen h1 {
  position: fixed;
  top: 0;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.534);
  -webkit-text-stroke: 2px #2891ed;
  text-shadow: 3px 3px #81bedb;
}
#description-screen h2,
#tips-screen h2,
#use-screen h2 {
  font-size: 30px;
  color: #238be6;
  background: #f9f9f9e1;
  margin-bottom: 0;
  padding: 0.5em 0.5em 0.5em 2em;
}

#langChenge {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3; /*文字色*/
  background: #fff;
  border: solid 3px #6091d3; /*線*/
  border-radius: 10px; /*角の丸み*/
}
#langChenge input[type="radio"] {
  display: none;
}

/* === 各ラジオボタンのラベルをボタンに変更 == */
#langChenge label {
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 2px 2px #999;
  padding: 2px 6px;
}

#langJa:not(:checked) ~ div *[lang="ja"] {
  display: none;
}
#langEn:not(:checked) ~ div *[lang="en"] {
  display: none;
}
#langZh:not(:checked) ~ div *[lang="zh"] {
  display: none;
}

/* === 選択されている言語のラベル色を変更 ==== */
#langJa:checked ~ label[for="langJa"] {
  background: #ffa64d;
}
#langEn:checked ~ label[for="langEn"] {
  background: #ffa64d;
}
#langZh:checked ~ label[for="langZh"] {
  background: #ffa64d;
}

.return-level-selection,
.descriptionToTips,
.descriptionToUse,
.useToDescription,
.tipsToDescription {
  .descriptionText ol,
  .descriptionText ul {
    margin: 5px;
    padding: 3px;
  }
}
.return-level-selection,
.descriptionToTips,
.descriptionToUse,
.useToDescription,
.tipsToDescription {
  display: inline-block;
  margin: 5px;
  padding: 15px 15px;
  font-size: 15px;
  cursor: pointer;
  background-color: #3d9ecb;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.return-level-selection:hover,
.descriptionToTips:hover,
.descriptionToUse:hover,
.useToDescription:hover,
.tipsToDescription:hover {
  background-color: blue;
}

#use-screen text {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-stroke: 1.5px #2891ed;
}
#tips-screen ul {
  font-size: 20px;
  color: #668ad8; /*文字色*/
  border: dashed 2px #668ad8; /*破線 太さ 色*/
  background: #f1f8ff; /*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;
}
#tips-screen ul li {
  line-height: 1.5;
  padding: 0.5em 0;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#game-container,
#announcement,
#start-button {
  display: none;
}
.message {
  font-size: 24px;
  margin-top: 20px;
}

.image-container img {
  width: 100%;
  object-fit: fill;
}

button {
  margin: 10px;
}

.game-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.human {
  position: absolute;
  bottom: 0;
}

.human-img {
  height: 300px;
}

#overlay-text {
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  background-color: rgb(5, 73, 17);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  display: none;
  z-index: 10;
}

#result-container {
  text-align: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/clear.png);
  background-size: cover;
}

.retry-button {
  display: inline-block;
  position: fixed;
  bottom: 50px;
  right: 50px;
  margin: 10px;
  padding: 15px 30px;
  font-size: 30px;
  cursor: pointer;
  background-color: #3d9ecb;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/*#result-message {
  font-size: 2em;
  color: #fff;
  text-align: center;
  background-color: #ff6347;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #ff4500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: glow 1s infinite alternate, bounce 2s infinite;
  width: 80%;
  margin: 20px auto;
}*/

#result-message {
  font-family: "Itim", cursive;
  font-size: 4em;
  position: relative;
  margin: 30px;
  text-align: center;
}

#result-message:before,
#result-message:after {
  position: absolute;
  z-index: 0;
  bottom: -10px;
  display: block;
  content: "";
  border: 1em solid #d90606;
}

#result-message:before {
  left: -30px;
  border-left-width: 15px;
  border-left-color: transparent;
}

#result-message:after {
  right: -30px;
  border-right-width: 15px;
  border-right-color: transparent;
}

#result-message span {
  position: relative;
  z-index: 1;
  display: block;
  padding: 1rem 2rem;
  color: #fff;
  background: #fa4141;
}

#result-message span:before,
#result-message span:after {
  position: absolute;
  bottom: -10px;
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  border-style: solid;
  border-color: #b70505 transparent transparent transparent;
}

#result-message span:before {
  left: 0;
  border-width: 10px 0 0 10px;
}

#result-message span:after {
  right: 0;
  border-width: 10px 10px 0 0;
}

.message {
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  background-color: rgb(5, 73, 17);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  z-index: 9999;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #ff4500, 0 0 15px #ff4500,
      0 0 20px #ff4500, 0 0 25px #ff4500, 0 0 30px #ff4500, 0 0 35px #ff4500;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff4500, 0 0 30px #ff4500,
      0 0 40px #ff4500, 0 0 50px #ff4500, 0 0 60px #ff4500, 0 0 70px #ff4500;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#timer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(253, 4, 4, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}

#timeout-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#timeout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/*以下スタッフロール*/
#staffroll-container {
  text-align: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.overlay-screen {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999;
  transition: opacity 2s ease-in-out;
}

.staffroll {
  position: absolute;
  bottom: -290%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2em;
}

#staffroll-to-result {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: center;
  color: white;
  font-size: 1em;
}
.roll {
  animation: roll 60s linear forwards;
}
@keyframes roll {
  0% {
    bottom: -290%;
  }
  100% {
    bottom: 100%;
  }
}

.fadeout {
  animation: fadeout 2s forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
